/* Общие настройки */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --white-color: #fff;
    --gray-color: #48555B;
    --blue-color: #00A4E5;
    --gray-border: #E6E6E6;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

.text-p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
}

.tittle_text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.31px;
}

/* Header */ 

.konstruct_header {
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #D8D8D8;
    text-align: center;
    color: var(--white-color);
    padding: 41px 0 71px;
}
.header_logo {
    display: block;
    margin: 0 auto;
}
.header_tittle {
    margin-top: 309px;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 5px;
}
.konstruct-h4 {
    font-weight: 600;
    font-size: 16px;
    margin-top: -1px;
}
.konstruct-text {
    margin-top: 225px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.5px;
}

/* Navbar */

.navbar {
    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--gray-border);
    padding: 15px 0 10px;
}
.navbar_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_right ul{
    display: flex;
    list-style: none;
    color: var(--gray-color);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
}
.navbar_right li{
    padding-right: 24px;
    width: 62px;
    text-align: center;
}
.navbar_right li:last-child {
    padding-right: 0;
}
.navbar_right li:hover {
    cursor: pointer;
    font-weight: 700;
    color: var(--blue-color);
}

/* About */
.about {
    padding-top: 60px;
    color: var(--gray-color);
}
.about_tittle {
    text-align: center;
}
.about_tittle::after {
    content: "";
    display: block;
    margin: 12px auto 55px;
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
}
.about_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about_left {
    max-width: 395px;
}
.about_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 33px;
}
.accent-color {
    color: var(--blue-color);
}

.about_right {
    display: flex;
    margin-top: 30px;
}
.about-h2 {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    line-height: 29px;
    padding: 15px 58px 151px 14px;
}
.rectangle {
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.rectangle:last-child {
    margin-right: 0;
}
.about-plan {
    background-image: url(../img/plan.png);
}
.about-manage {
    background-image: url(../img/manage.png);
}
.about-build {
    background-image: url(../img/build.png);
}

/* Services */
.services {
    padding-top: 118px;
}
.services_tittle::after {
    content: "";
    display: block;
    margin: 12px 0 0;
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
}
.services_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.services-p {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    max-width: 405px;
    margin: 0 31px 0 154px;
}
.services_btn {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    background-color: var(--blue-color);
    padding: 12px 32px;
    border: none;
}
.services_bottom {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.services_bottom_item {
    width: 295px;
    height: 252px;
    border: var(--gray-border) 1px solid;
    padding: 37px 18px 39px 22px;
    margin-right: 28px;
}
.services_bottom_item:last-child {
    margin-right: 0;
}
.services-h4 {
    font-weight: 700;
    font-size: 16px;
    color: var(--gray-color);
    line-height: 24px;
    letter-spacing: 0.43px;
    text-transform: uppercase;
    margin: 23px 0 13px;
}


@media screen and (max-width: 1439px) {
    .services-p {
        margin: 0 15px 0 15px;
    }
    .services_bottom_item {
        padding: 37px 10px 39px 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1365px) {
    .about_content {
        flex-direction: column;
        align-items: center;
    }
    .services_top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .services_tittle::after {
        margin: 12px auto 0;
    }
    .services-p {
        margin: 15px 0;
    }
    .services_bottom{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .services_bottom_item {
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 595px) {
    .navbar_content {
        padding-top: 10px;
        flex-direction: column;
    }
    .navbar_right ul {
        margin-top: 25px;
    }
    .about_right {
        flex-direction: column;
    }
    .rectangle {
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 425px) {
    .navbar_right ul {
        flex-direction: column;
    }
    .navbar_right li {
        padding: 0 0 5px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 15px;
    }
    .services_bottom_item {
        width: 250px;
    }
}
