/* Общие настройки */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --white-color: #fff;
    --gray-color: #48555B;
    --blue-color: #00A4E5;
    --gray-border: #E6E6E6;
    --black-color: #171819;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

.text-p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
}

.tittle_text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.31px;
}

/* Header */ 

.konstruct_header {
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #D8D8D8;
    text-align: center;
    color: var(--white-color);
    padding: 41px 0 71px;
}
.header_logo {
    display: block;
    margin: 0 auto;
}
.header_tittle {
    margin-top: 309px;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 5px;
}
.konstruct-h4 {
    font-weight: 600;
    font-size: 16px;
    margin-top: -1px;
}
.konstruct-text {
    margin-top: 225px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.5px;
}

/* Navbar */

.navbar {
    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--gray-border);
    padding: 15px 0 10px;
}
.navbar_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_right ul{
    display: flex;
    list-style: none;
    color: var(--gray-color);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
}
.navbar_right li{
    padding-right: 24px;
    width: 62px;
    text-align: center;
}
.navbar_right li:last-child {
    padding-right: 0;
}
.navbar_right li:hover {
    cursor: pointer;
    font-weight: 700;
    color: var(--blue-color);
}

/* About */
.about {
    padding-top: 60px;
    color: var(--gray-color);
}
.about_tittle {
    text-align: center;
}
.about_tittle::after {
    content: "";
    display: block;
    margin: 12px auto 55px;
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
}
.about_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about_left {
    max-width: 395px;
}
.about_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 33px;
}
.accent-color {
    color: var(--blue-color);
}

.about_right {
    display: flex;
    margin-top: 30px;
}
.about-h2 {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    line-height: 29px;
    padding: 15px 58px 151px 14px;
}
.rectangle {
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.rectangle:last-child {
    margin-right: 0;
}
.about-plan {
    background-image: url(../img/plan.png);
}
.about-manage {
    background-image: url(../img/manage.png);
}
.about-build {
    background-image: url(../img/build.png);
}

/* Services */
.services {
    padding-top: 118px;
}
.services_tittle::after {
    content: "";
    display: block;
    margin: 12px 0 0;
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
}
.services_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.services-p {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    max-width: 405px;
    margin: 0 31px 0 154px;
}
.btn {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    background-color: var(--blue-color);
    padding: 12px 32px;
    border: none;
}
.services_bottom {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.services_bottom_item {
    width: 295px;
    height: 252px;
    border: var(--gray-border) 1px solid;
    padding: 37px 18px 39px 22px;
    margin-right: 28px;
}
.services_bottom_item:last-child {
    margin-right: 0;
}
.services-h4 {
    font-weight: 700;
    font-size: 16px;
    color: var(--gray-color);
    line-height: 24px;
    letter-spacing: 0.43px;
    text-transform: uppercase;
    margin: 23px 0 13px;
}

/* Get in touch */
.get-in-touch {
    margin-top: 115px;
    background-image: url(../img/get-in-touch_bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--black-color);
}
.get-in-touch_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 231px;
}
.get-in-touch_tittle {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--gray-color);
    text-align: center;
    margin-bottom: 35px;
    max-width: 350px;
}

/* Newsletter */
.newsletter {
    background-color: var(--black-color);
}
.newsletter_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px 0 29px;
}
.newsletter_tittle {
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    margin-right: 70px;
}
.newsletter_signup {
    display: flex;
}
.newsletter_input {
    border: none;
    padding: 12px 70px 11px 16px;
    font-size: 14px;
}
.newsletter__btn {
    padding: 12px 49px;
}

/* Footer */
.footer {
    padding: 43px 0 50px;
    background-color: #141a20;
    color: #fff;
    font-size: 11px;
    display: flex;
    align-items: center;
}
.footer_tittle {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.footer-p {
    line-height: 16px;
    letter-spacing: 1px;
}
.footer_content {
    display: grid;
    grid-template-columns: 250px 252px 115px 87px;
    gap: 70px;
}
.konstruct_logo {
    padding: 5px 0 13px;
}
.footer-text {
    line-height: 19px;
}
.links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-between;
    grid-auto-flow: column;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1px;
}
.footer_link:hover {
    cursor: pointer;
}
.contact_tel {
    padding: 15px 0 17px;
}
.socials {
    padding-top: 15px;
}
.footer_icon {
    margin-right: 20px;
}
.footer_icon:hover {
    cursor: pointer;
}
.footer_icon:last-child {
    margin-right: 0;
}
.copyright {
    color: #fff;
    background-color: #171819;
    font-size: 11px;
    text-align: center;
    padding: 12px 0 20px;
}


@media screen and (max-width: 1439px) {
    .services-p {
        margin: 0 15px 0 15px;
    }
    .services_bottom_item {
        padding: 37px 10px 39px 15px;
        margin-right: 15px;
    }
    .footer_content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1365px) {
    .about_content {
        flex-direction: column;
        align-items: center;
    }
    .services_top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .services_tittle::after {
        margin: 12px auto 0;
    }
    .services-p {
        margin: 15px 0;
    }
    .services_bottom{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .services_bottom_item {
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 1024px) {
    .links ul{
        grid-template-rows: repeat(10, 1fr);
    }
    .footer_content {
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 50px;
    }
    .newsletter_content {
        flex-direction: column;
    }
    .newsletter_tittle {
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 595px) {
    .navbar_content {
        padding-top: 10px;
        flex-direction: column;
    }
    .navbar_right ul {
        margin-top: 25px;
    }
    .about_right {
        flex-direction: column;
    }
    .rectangle {
        margin: 0 0 10px;
    }
    .get-in-touch_content {
        padding-top: 30px;
    }
}

@media screen and (max-width: 425px) {
    .navbar_right ul {
        flex-direction: column;
    }
    .navbar_right li {
        padding: 0 0 5px;
    }
    .newsletter_input {
        padding: 8px 50px 7px 8px;
    }
    .newsletter__btn {
        padding: 8px 39px;
    }
    .footer_content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 15px;
    }
    .services_bottom_item {
        width: 250px;
    }
    .newsletter_input {
        padding: 8px 20px 7px 4px;
    }
    .newsletter__btn {
        padding: 8px 18px;
    }
}
